
.text-field {
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-border-color: BLACK;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.label {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.check-box .text {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 8 16;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.button:hover {
    -fx-background-color: #1565C0; /* blå men mørkere */
}

