.button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 8 16;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: #1565C0;
}

.menu-button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 8 16;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

.menu-button:hover {
    -fx-background-color: #1565C0;
}

.striped-background {
    -fx-background-color: linear-gradient(from 45% 0% to 55% 100%, repeat, lightgray 0%, lightgray 25%, white 25%, white 50%, lightgray 50%, lightgray 75%, white 75%, white 100%);
    -fx-background-size: 40px 40px;
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-opacity: 0.7;
}

